<script language="javascript" type="text/javascript">
  Strip.setPublishableKey("<%= ENV['STRIPE_TEST_PUBLISHABLE_KEY'] %>");
</script>

<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t('.sign_up', :default => "Sign up") %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form", class: "cc_form" }) do |f| %>
      <div class="row-fluid">
        <div class="span8">
          <div class="form-group span8 no-left-padding">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, placeholder: "Enter email",class: "form-control span12" %>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span8">
          <div class="form-group span4 no-left-padding">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <div class="form-group span4 no-left-padding">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
        </div>
      </div>
      <%= fields_for(:payment) do |p| %>
        <div class="row-fluid">
          <div class="span8">
            <div class="form-group span4 no-left-padding">
              <%= p.label :card_number, "Card Number", data: {stripe: 'label'} %>
              <%= p.text_field :card_number, class: "form-control", required: true, data: {stripe: 'number'} %>
            </div>
            <div class="form-group span4 no-left-padding">
              <%= p.label :card_cvv, "Card CVV", data: {stripe: 'label'} %>
              <%= p.text_field :card_cvv, class: "form-control", required: true, data: {stripe: 'cvv'} %>
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span8">
            <%= p.label :card_expires, "Card Expires", data: {strip: 'label'} %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span8">
            <div class="form-group span4 no-left-padding">
              
              <%= p.select :card_expires_month, options_for_select(Payment.month_options), 
                      { include_blank: 'Month'}, 
                      data: {stripe: "exp_month"}, 
                      class: "form-control", required: true %>
            </div>
            <div class="form-group span4 no-left-padding">
              <%= p.select :card_expires_year, options_for_select(Payment.year_options.push), 
                        { include_blank: 'Year'},
                        class: "form-control",
                        data: {stripe: "exp_year"}, 
                        required: true %>
            </div>
          </div>
        </div>        
      <% end %>
      <%= f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
